<div id="mockup-wrapper" class="parent-container">
  <div class="canvas-wrapper">
    <canvas id="canvas"></canvas>
  </div>
</div>

<style>
.canvas-wrapper {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

#canvas {
  max-width: 100%;
  height: auto;
  display: block;
}
</style> 