<div class="product-information__media" data-testid="product-information-media">
  <div class="canvas-wrapper">
    <canvas id="canvas"></canvas>
  </div>
</div>

<style>
.canvas-wrapper {
  width: 100%;
  max-width: 100%;
  position: relative;
  overflow: hidden;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#canvas {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
  touch-action: pan-y;
  -webkit-overflow-scrolling: touch;
}

/* Ensure proper z-index stacking */
.product-information__media {
  position: relative;
  z-index: 1;
}

/* Handle responsive behavior */
@media screen and (max-width: 749px) {
  .canvas-wrapper {
    margin-bottom: 1rem;
  }
}

/* Handle case when no product description on desktop */
@media screen and (min-width: 750px) {
  .product-information__grid:has(.product-details:empty) .canvas-wrapper,
  .product-information__grid:has(.product-details:not(:has(*))) .canvas-wrapper {
    max-height: none;
  }
}
</style>