<div id="mockup-wrapper" class="parent-container">
  <div class="canvas-wrapper">
    <canvas id="canvas"></canvas>
  </div>
</div>

<style>
.parent-container {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.canvas-wrapper {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

#canvas {
  width: 100% !important;
  height: auto !important;
  max-width: 100%;
  display: block;
  overflow: hidden;
}
</style> 