<div id="mockup-wrapper" class="parent-container">
  <div class="canvas-wrapper">
    <canvas id="canvas"></canvas>
  </div>
</div>

<style>
.canvas-wrapper {
  width: 100%;
  max-width: 100%;
  overflow: visible;
  position: relative;
  min-height: 100%;
}

.canvas-container {
  width: 100% !important;
  max-width: 100% !important;
  position: relative !important;
  min-height: 100%;
}

.canvas-container canvas {
  width: 100% !important;
  height: auto !important;
  max-width: 100% !important;
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
}

#canvas {
  max-width: 100%;
  display: block;
}

/* Handle case when no product description on desktop */
@media screen and (min-width: 750px) {
  .product-information__grid:has(.product-details:empty) .canvas-wrapper,
  .product-information__grid:has(.product-details:not(:has(*))) .canvas-wrapper {
    overflow: visible;
    height: auto;
  }
  
  .product-information__grid:has(.product-details:empty) .canvas-container,
  .product-information__grid:has(.product-details:not(:has(*))) .canvas-container {
    max-height: none !important;
    height: auto !important;
  }
  
  .product-information__grid:has(.product-details:empty) .product-information__media,
  .product-information__grid:has(.product-details:not(:has(*))) .product-information__media {
    height: auto;
    min-height: 100%;
  }
}
</style> 